@import "../bootstrap/less/bootstrap.less";
@import url(https://fonts.googleapis.com/css?family=Lobster);
@base: #3B3B3B;
@accent-color: #6599FF;

.page-header {
    background-color: @base;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    margin-bottom: 15px;
    .main-header {
        color: white;
        text-decoration: none;
        font-family: "Lobster", cursive;
        font-size: 50px;
        margin: 0px;
        margin-left: 70px;
        .part-header {
            color: @accent-color;
        }
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

