<div class="page-header">
    <div class="row">
        <span class="col-xs-4 main-header">Text<span class="part-header">Marker</span></span>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <p>Here you can upload your text files and get it transformed.</p>
        <form>
            <div class="form-group">
                <input class="form-control" type="file"
                    file-Change="Ctrl.uploadFile" accept=".txt, .rtf, .md">
            </div>
        </form>
    </div>
    <div class="container">
        <pre class="formatted-text">{{Ctrl.parsedText}}</pre>
    </div>
    <div class="container">
        <p>{{Ctrl.mostUsedWord}}</p>
    </div>
</div>
